/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

.idea

/doc/examples
config/database.yml

# Ignore uploaded files
/public/system
/public/tmp
/public/uploads
/public/spec

# Coverage files
/coverage

.powrt

*.sublime-project
*.sublime-workspace

.yardoc
/log
.powenv

# Ignore application configuration
/config/application.yml
.zeus.sock

dump.rdb
config/*.sphinx.conf
db/spinx
